.product-filter-card {
  display: flex;
  align-items: center;
  gap: 10px;

  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }

  .right-section {
    margin-left: auto;
  }
}
