.custom-drawer .ant-drawer-body {
  background-color: #f5f5f5; /* Or your desired color */
  padding: 24px; /* Optional: keep AntD padding */
}

.user-filter-card-container {
  font-size: 16px;
  display: flex;
  .left-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.error-spin-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .error {
    color: red;
  }
}
